.footer
  width: 100%
  background-color: $c-pure-white
  @include sp
    padding: vw(24) 0
  @include pc
    padding: 24px 0 23px

.item
  text-align: center
  &:nth-child(n+2)
    @include sp
      margin-top: vw(20)
    @include pc
      margin-top: 24px

.copyright
  display: block
  text-align: center
  @include sp
    margin-top: vw(56)
  @include pc
    margin-top: 59px
