.lead
  @include sp
    margin-top: vw(172)
  @include pc
    margin-top: 140px

.works
  @include sp
    margin-top: vw(104)
  @include pc
    margin-top: 64px

.message
  margin-right: auto
  margin-left: auto
  @include sp
    margin-top: vw(120)
  @include pc
    margin-top: 120px

.price
  margin-right: auto
  margin-left: auto
  @include sp
    margin-top: vw(120)
  @include pc
    margin-top: 120px

.q_and_a
  margin-right: auto
  margin-left: auto
  @include sp
    margin-top: vw(120)
  @include pc
    margin-top: 120px

.footer
  @include sp
    margin-top: vw(184)
  @include pc
    margin-top: 120px
