.lead
  @include sp
    margin-top: vw(172)
  @include pc
    margin-top: 140px

.sample
  margin-right: auto
  margin-left: auto
  @include sp
    margin-top: vw(80)
    width: vw(677)
  @include pc
    margin-top: 57px
    width: 1000px

.works
  @include sp
    margin-top: vw(80)
  @include pc
    margin-top: 64px

.message
  margin-right: auto
  margin-left: auto
  @include sp
    margin-top: vw(120)
  @include pc
    margin-top: 120px

.price
  margin-right: auto
  margin-left: auto
  @include sp
    margin-top: vw(120)
  @include pc
    margin-top: 120px

.q_and_a
  margin-right: auto
  margin-left: auto
  @include sp
    margin-top: vw(120)
  @include pc
    margin-top: 120px

.footer
  @include sp
    margin-top: vw(184)
  @include pc
    margin-top: 120px
